@model List<WAP_T2010A.Models.Brand>

<h2>Index</h2>

@{
    ViewBag.Title = "Brand";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Categories</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Brand Name</th>
                            <th>Brand Image</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var brand in Model)
                        {
                            <tr>
                                <td>@brand.Id</td>
                                <td>@brand.BrandName</td>
                                <td>@brand.BrandImage</td>
                                <td>
                                    <a href="~/Brand/Update/@brand.Id">Edit</a>
                                    <a onclick="return confirm('Are you sure')" href="~/Brand/Delete/@brand.Id" class="text-danger">Delete</a>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
